<configuration>
  <springProperty scope="context" name="APP_NAME" source="spring.application.name"
    defaultValue="cinelog" />
  <property name="LOG_PATTERN"
    value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} - %msg%n" />

  <appender name="CONSOLE_JSON"
    class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
    <appender class="net.logstash.logback.appender.LogstashConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"app":"${APP_NAME}"}</customFields>
        <provider class="net.logstash.logback.composite.LoggingEventJsonProviders">
          <timestamp />
          <version />
          <message />
          <loggerName />
          <threadName />
          <logLevel />
          <stackTrace />
          <mdc />
          <arguments />
          <!-- Inclui campos de tracing do Micrometer -->
          <provider class="net.logstash.logback.composite.loggingevent.MdcJsonProvider">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
            <includeMdcKeyName>txId</includeMdcKeyName>
            <includeMdcKeyName>userId</includeMdcKeyName>
          </provider>
        </provider>
      </encoder>
    </appender>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE_JSON" />
  </root>

  <!-- Reduz ruído -->
  <logger name="org.hibernate.SQL" level="WARN" />
  <logger name="org.springframework" level="INFO" />
</configuration>